USE master
GO

-- ============================================================
-- SỬA LỖI 1: Logic DROP database đúng tên
-- ============================================================
IF EXISTS (SELECT name FROM sys.databases WHERE name = 'BaseCoreDB')
BEGIN
    ALTER DATABASE [BaseCoreDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
    DROP DATABASE [BaseCoreDB]
END
GO

CREATE DATABASE [BaseCoreDB]
GO

USE [BaseCoreDB]
GO

-- ============================================================
-- EF Migrations History
-- ============================================================
CREATE TABLE [dbo].[__EFMigrationsHistory](
    [MigrationId]   [nvarchar](150) NOT NULL,
    [ProductVersion] [nvarchar](32)  NOT NULL,
    CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED ([MigrationId] ASC)
) ON [PRIMARY]
GO

-- ============================================================
-- BẢNG Categories
-- ============================================================
CREATE TABLE [dbo].[Categories](
    [Id]          [int]           IDENTITY(1,1) NOT NULL,
    [Name]        [nvarchar](100) NOT NULL,
    [Description] [nvarchar](500) NOT NULL,
    CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

-- ============================================================
-- BẢNG Users
-- ============================================================
CREATE TABLE [dbo].[Users](
    [Id]       [nvarchar](450) NOT NULL,
    [Name]     [nvarchar](100) NOT NULL,
    [UserName] [nvarchar](50)  NOT NULL,
    [Password] [nvarchar](255) NOT NULL,
    [Salt]     [varbinary](max) NOT NULL,
    [Contact]  [nvarchar](max) NOT NULL,
    [Email]    [nvarchar](100) NOT NULL,
    [Phone]    [nvarchar](20)  NOT NULL,
    [Position] [nvarchar](max) NOT NULL,
    [Image]    [nvarchar](max) NOT NULL,
    [IsActive] [bit]           NOT NULL DEFAULT 1,
    [UserType] [int]           NOT NULL DEFAULT 0,  -- 0=Customer, 1=Admin
    [Created]  [datetime2](7)  NOT NULL DEFAULT GETDATE(),
    CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_UserName]
    ON [dbo].[Users]([UserName] ASC)
GO

-- ============================================================
-- BẢNG Products  (có RowVersion + IsActive)
-- ============================================================
CREATE TABLE [dbo].[Products](
    [Id]          [int]            IDENTITY(1,1) NOT NULL,
    [Name]        [nvarchar](200)  NOT NULL,
    [Price]       [decimal](18, 2) NOT NULL,
    [Stock]       [int]            NOT NULL DEFAULT 0,
    [ImageUrl]    [nvarchar](500)  NOT NULL DEFAULT '',
    [Description] [nvarchar](1000) NOT NULL DEFAULT '',
    [CategoryId]  [int]            NOT NULL,
    [IsActive]    [bit]            NOT NULL DEFAULT 1,
    -- ★ Optimistic Concurrency — SQL Server tự cập nhật mỗi khi row thay đổi
    [RowVersion]  [timestamp]      NOT NULL,
    CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Products_CategoryId]
    ON [dbo].[Products]([CategoryId] ASC)
GO

-- ============================================================
-- BẢNG Orders
-- SỬA LỖI 2: UserId đổi sang nvarchar(450) để khớp Users.Id
-- SỬA LỖI 3: Status dùng nvarchar(20) thay vì nvarchar(max)
-- ============================================================
CREATE TABLE [dbo].[Orders](
    [Id]              [int]            IDENTITY(1,1) NOT NULL,
    [UserId]          [nvarchar](450)  NOT NULL,   -- ← khớp với Users.Id
    [OrderDate]       [datetime2](7)   NOT NULL DEFAULT GETDATE(),
    [UpdatedAt]       [datetime2](7)   NULL,
    [TotalAmount]     [decimal](18, 2) NOT NULL,
    [Status]          [nvarchar](20)   NOT NULL DEFAULT 'PENDING',
    --                 ↑ nvarchar(20) đủ cho: PENDING/CONFIRMED/SHIPPING/COMPLETED/CANCELLED
    [ShippingAddress] [nvarchar](500)  NOT NULL,
    [Note]            [nvarchar](500)  NULL,
    CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Orders_UserId]
    ON [dbo].[Orders]([UserId] ASC)
GO

CREATE NONCLUSTERED INDEX [IX_Orders_Status]
    ON [dbo].[Orders]([Status] ASC)
GO

-- ============================================================
-- BẢNG OrderDetails
-- SỬA LỖI 4: Xóa cột rác OrderId1
-- ============================================================
CREATE TABLE [dbo].[OrderDetails](
    [Id]        [int]            IDENTITY(1,1) NOT NULL,
    [OrderId]   [int]            NOT NULL,
    [ProductId] [int]            NOT NULL,
    [Quantity]  [int]            NOT NULL,
    [UnitPrice] [decimal](18, 2) NOT NULL,   -- ★ Giá chốt tại thời điểm mua
    -- KHÔNG có OrderId1 — đó là cột rác do EF Core tạo nhầm
    CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId]
    ON [dbo].[OrderDetails]([OrderId] ASC)
GO

CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId]
    ON [dbo].[OrderDetails]([ProductId] ASC)
GO

-- ============================================================
-- BẢNG CartItems (giỏ hàng lưu DB)
-- ============================================================
CREATE TABLE [dbo].[CartItems](
    [Id]        [int]           IDENTITY(1,1) NOT NULL,
    [UserId]    [nvarchar](450) NOT NULL,
    [ProductId] [int]           NOT NULL,
    [Quantity]  [int]           NOT NULL DEFAULT 1,
    [AddedAt]   [datetime2](7)  NOT NULL DEFAULT GETDATE(),
    CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

-- Index tìm giỏ hàng theo user nhanh
CREATE NONCLUSTERED INDEX [IX_CartItems_UserId]
    ON [dbo].[CartItems]([UserId] ASC)
GO

-- Mỗi user chỉ có 1 dòng cho 1 sản phẩm
CREATE UNIQUE NONCLUSTERED INDEX [UX_CartItems_User_Product]
    ON [dbo].[CartItems]([UserId] ASC, [ProductId] ASC)
GO

-- ============================================================
-- BẢNG OrderStatusLogs (nhật ký trạng thái đơn hàng)
-- ============================================================
CREATE TABLE [dbo].[OrderStatusLogs](
    [Id]        [int]           IDENTITY(1,1) NOT NULL,
    [OrderId]   [int]           NOT NULL,
    [OldStatus] [nvarchar](20)  NULL,           -- ← đổi sang nvarchar(20) cho nhất quán
    [NewStatus] [nvarchar](20)  NOT NULL,        -- ← đổi sang nvarchar(20)
    [ChangedBy] [nvarchar](450) NOT NULL,
    [Note]      [nvarchar](500) NULL,
    [CreatedAt] [datetime2](7)  NOT NULL DEFAULT GETDATE(),
    CONSTRAINT [PK_OrderStatusLogs] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_OrderStatusLogs_OrderId]
    ON [dbo].[OrderStatusLogs]([OrderId] ASC)
GO

-- ============================================================
-- BẢNG Reviews (đánh giá sản phẩm)
-- ============================================================
CREATE TABLE [dbo].[Reviews](
    [Id]        [int]            IDENTITY(1,1) NOT NULL,
    [ProductId] [int]            NOT NULL,
    [UserId]    [nvarchar](450)  NOT NULL,
    [Rating]    [int]            NOT NULL,
    [Comment]   [nvarchar](1000) NULL,
    [CreatedAt] [datetime2](7)   NOT NULL DEFAULT GETDATE(),
    CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED ([Id] ASC),
    CONSTRAINT [CK_Reviews_Rating] CHECK ([Rating] >= 1 AND [Rating] <= 5)
) ON [PRIMARY]
GO

-- Mỗi user chỉ review 1 sản phẩm 1 lần
CREATE UNIQUE NONCLUSTERED INDEX [UX_Reviews_User_Product]
    ON [dbo].[Reviews]([UserId] ASC, [ProductId] ASC)
GO

CREATE NONCLUSTERED INDEX [IX_Reviews_ProductId]
    ON [dbo].[Reviews]([ProductId] ASC)
GO

-- ============================================================
-- FOREIGN KEYS
-- ============================================================

-- Products → Categories
ALTER TABLE [dbo].[Products]
    ADD CONSTRAINT [FK_Products_Categories_CategoryId]
    FOREIGN KEY ([CategoryId]) REFERENCES [dbo].[Categories]([Id])
GO

-- Orders → Users  (nvarchar → nvarchar, khớp kiểu rồi)
ALTER TABLE [dbo].[Orders]
    ADD CONSTRAINT [FK_Orders_Users_UserId]
    FOREIGN KEY ([UserId]) REFERENCES [dbo].[Users]([Id])
GO

-- OrderDetails → Orders (CASCADE: xóa đơn thì xóa chi tiết)
ALTER TABLE [dbo].[OrderDetails]
    ADD CONSTRAINT [FK_OrderDetails_Orders_OrderId]
    FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Orders]([Id]) ON DELETE CASCADE
GO

-- OrderDetails → Products
ALTER TABLE [dbo].[OrderDetails]
    ADD CONSTRAINT [FK_OrderDetails_Products_ProductId]
    FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Products]([Id])
GO

-- CartItems → Users (CASCADE: xóa user thì xóa giỏ hàng)
ALTER TABLE [dbo].[CartItems]
    ADD CONSTRAINT [FK_CartItems_Users_UserId]
    FOREIGN KEY ([UserId]) REFERENCES [dbo].[Users]([Id]) ON DELETE CASCADE
GO

-- CartItems → Products
ALTER TABLE [dbo].[CartItems]
    ADD CONSTRAINT [FK_CartItems_Products_ProductId]
    FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Products]([Id])
GO

-- OrderStatusLogs → Orders (CASCADE)
ALTER TABLE [dbo].[OrderStatusLogs]
    ADD CONSTRAINT [FK_OrderStatusLogs_Orders_OrderId]
    FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Orders]([Id]) ON DELETE CASCADE
GO

-- OrderStatusLogs → Users
ALTER TABLE [dbo].[OrderStatusLogs]
    ADD CONSTRAINT [FK_OrderStatusLogs_Users_ChangedBy]
    FOREIGN KEY ([ChangedBy]) REFERENCES [dbo].[Users]([Id])
GO

-- Reviews → Products (CASCADE)
ALTER TABLE [dbo].[Reviews]
    ADD CONSTRAINT [FK_Reviews_Products_ProductId]
    FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Products]([Id]) ON DELETE CASCADE
GO

-- Reviews → Users
ALTER TABLE [dbo].[Reviews]
    ADD CONSTRAINT [FK_Reviews_Users_UserId]
    FOREIGN KEY ([UserId]) REFERENCES [dbo].[Users]([Id])
GO

-- ============================================================
-- SEED DATA — Categories mỹ phẩm GlowHub
-- ============================================================
INSERT INTO [dbo].[Categories] ([Name], [Description]) VALUES
(N'Chăm sóc da mặt',  N'Serum, kem dưỡng, toner, sữa rửa mặt cho mọi loại da'),
(N'Trang điểm',       N'Son môi, kem nền, phấn má, mascara và các sản phẩm makeup'),
(N'Chăm sóc cơ thể', N'Kem dưỡng thể, tẩy tế bào chết, dầu dưỡng da toàn thân'),
(N'Nước hoa',         N'Nước hoa nữ, nữ tính, tinh tế cho mọi dịp'),
(N'Chăm sóc tóc',    N'Dầu gội, dầu xả, serum tóc, mặt nạ ủ tóc'),
(N'Chống nắng',       N'Kem chống nắng vật lý và hóa học SPF 30-50+')
GO

-- ============================================================
-- SEED DATA — Products mỹ phẩm
-- ============================================================
GO
PRINT N'✓ Đã seed 15 sản phẩm mỹ phẩm'

-- ============================================================
-- SEED DATA — Users
-- SỬA LỖI 5: Ghi chú rõ password plain text chỉ dùng cho dev
-- ============================================================

-- Chạy lệnh này trước để cho phép cột Salt được để trống
ALTER TABLE [dbo].[Users] ALTER COLUMN [Salt] VARBINARY(MAX) NULL;
GO
-- Xóa trắng dữ liệu cũ để nạp lại cho sạch, tránh trùng lặp
DELETE FROM [dbo].[Users] WHERE [UserName] IN ('admin', 'lan.nguyen');
GO


PRINT N'✓ Đã tạo xong tài khoản mẫu với mật khẩu Plain Text (Salt = NULL)';

-- ============================================================
-- KIỂM TRA KẾT QUẢ CUỐI
-- ============================================================
SELECT
    t.name          AS [Bảng],
    p.rows          AS [Số dòng]
FROM sys.tables t
JOIN sys.partitions p ON t.object_id = p.object_id AND p.index_id IN (0,1)
WHERE t.name NOT IN ('__EFMigrationsHistory')
ORDER BY t.name
GO

PRINT N''
PRINT N'======================================================'
PRINT N'  GlowHub Database khởi tạo thành công!'
PRINT N'  Đăng nhập: admin/admin123  hoặc  lan.nguyen/user123'
PRINT N'======================================================'

USE [master]
GO

-- ================================================================
--  GlowHub — Migration Script
--  Thêm các bảng còn thiếu cho Admin Dashboard (Mô hình 2)
--  Chạy trên database BaseCoreDB (SQL Server)
--  
--  Bao gồm:
--    1. ALTER TABLE bổ sung field còn thiếu
--    2. CREATE TABLE Banners
--    3. CREATE TABLE FeaturedProducts  
--    4. CREATE TABLE SiteSettings
--    5. CREATE TABLE Vouchers
--    6. CREATE TABLE MediaFiles
--    7. CREATE TABLE AuditLogs
--    8. Seed data mặc định
-- ================================================================

USE [BaseCoreDB]
GO

-- ================================================================
-- BƯỚC 1: BỔ SUNG FIELD CÒN THIẾU VÀO BẢNG HIỆN CÓ
-- ================================================================

-- ── Products: thêm DiscountPrice, IsNew, CreatedAt, SortOrder ──
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Products') AND name = 'DiscountPrice')
    ALTER TABLE [dbo].[Products] ADD [DiscountPrice] decimal(18,2) NULL;
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Products') AND name = 'IsNew')
    ALTER TABLE [dbo].[Products] ADD [IsNew] bit NOT NULL DEFAULT 0;
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Products') AND name = 'CreatedAt')
    ALTER TABLE [dbo].[Products] ADD [CreatedAt] datetime2(7) NOT NULL DEFAULT GETDATE();
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Products') AND name = 'SortOrder')
    ALTER TABLE [dbo].[Products] ADD [SortOrder] int NOT NULL DEFAULT 0;
GO

-- ── Orders: thêm ReceiverName, ReceiverPhone, PaymentMethod ──
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Orders') AND name = 'ReceiverName')
    ALTER TABLE [dbo].[Orders] ADD [ReceiverName] nvarchar(100) NOT NULL DEFAULT '';
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Orders') AND name = 'ReceiverPhone')
    ALTER TABLE [dbo].[Orders] ADD [ReceiverPhone] nvarchar(20) NOT NULL DEFAULT '';
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Orders') AND name = 'PaymentMethod')
    ALTER TABLE [dbo].[Orders] ADD [PaymentMethod] nvarchar(20) NOT NULL DEFAULT 'COD';
    -- Values: COD | BANK | MOMO | ZALOPAY
GO

-- ── Users: thêm Address, AvatarUrl, LastLoginAt ──
-- (Users ở MongoDB qua AuthService — bổ sung nếu sync sang SQL)
-- Nếu có bảng Users ở SQL thì thêm:
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Users') AND name = 'Address')
    ALTER TABLE [dbo].[Users] ADD [Address] nvarchar(500) NULL;
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Users') AND name = 'AvatarUrl')
    ALTER TABLE [dbo].[Users] ADD [AvatarUrl] nvarchar(500) NULL;
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Users') AND name = 'LastLoginAt')
    ALTER TABLE [dbo].[Users] ADD [LastLoginAt] datetime2(7) NULL;
GO

PRINT N'✓ Bước 1 hoàn thành: Bổ sung field vào bảng hiện có'
GO

-- ================================================================
-- BƯỚC 2: TẠO BẢNG Banners (Slideshow / Hero Banner trang chủ)
-- ================================================================
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.Banners') AND type = 'U')
BEGIN
    CREATE TABLE [dbo].[Banners] (
        [Id]          int             IDENTITY(1,1)   NOT NULL,
        [Title]       nvarchar(200)                   NOT NULL,
        [Subtitle]    nvarchar(500)                   NULL,
        [ImageUrl]    nvarchar(500)                   NOT NULL DEFAULT '',
        [LinkUrl]     nvarchar(500)                   NULL,          -- URL khi click vào banner
        [ButtonText]  nvarchar(50)                    NULL,          -- Text nút CTA
        [BgColor]     nvarchar(20)                    NULL,          -- Màu nền fallback
        [SortOrder]   int                             NOT NULL DEFAULT 0,
        [IsActive]    bit                             NOT NULL DEFAULT 1,
        [CreatedAt]   datetime2(7)                    NOT NULL DEFAULT GETDATE(),
        [UpdatedAt]   datetime2(7)                    NULL,
        [CreatedBy]   nvarchar(450)                   NULL,         -- FK → Users.Id
        CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY];

    CREATE NONCLUSTERED INDEX [IX_Banners_IsActive_SortOrder]
        ON [dbo].[Banners] ([IsActive] ASC, [SortOrder] ASC);

    PRINT N'✓ Tạo bảng Banners thành công';
END
ELSE
    PRINT N'  Bảng Banners đã tồn tại, bỏ qua';
GO

-- ================================================================
-- BƯỚC 3: TẠO BẢNG FeaturedProducts (Sản phẩm nổi bật trang chủ)
-- ================================================================
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.FeaturedProducts') AND type = 'U')
BEGIN
    CREATE TABLE [dbo].[FeaturedProducts] (
        [Id]          int             IDENTITY(1,1)   NOT NULL,
        [ProductId]   int                             NOT NULL,      -- FK → Products.Id
        [Section]     nvarchar(50)                    NOT NULL,      -- 'new_arrivals' | 'best_sellers' | 'hero_slider'
        [SortOrder]   int                             NOT NULL DEFAULT 0,
        [IsActive]    bit                             NOT NULL DEFAULT 1,
        [CreatedAt]   datetime2(7)                    NOT NULL DEFAULT GETDATE(),
        [CreatedBy]   nvarchar(450)                   NULL,
        CONSTRAINT [PK_FeaturedProducts] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY];

    -- Mỗi sản phẩm chỉ xuất hiện 1 lần trong mỗi section
    CREATE UNIQUE NONCLUSTERED INDEX [UX_FeaturedProducts_Product_Section]
        ON [dbo].[FeaturedProducts] ([ProductId] ASC, [Section] ASC);

    CREATE NONCLUSTERED INDEX [IX_FeaturedProducts_Section_Sort]
        ON [dbo].[FeaturedProducts] ([Section] ASC, [SortOrder] ASC);

    -- FK → Products (xóa product thì xóa luôn khỏi featured)
    ALTER TABLE [dbo].[FeaturedProducts]
        ADD CONSTRAINT [FK_FeaturedProducts_Products]
        FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Products] ([Id])
        ON DELETE CASCADE;

    PRINT N'✓ Tạo bảng FeaturedProducts thành công';
END
ELSE
    PRINT N'  Bảng FeaturedProducts đã tồn tại, bỏ qua';
GO

-- ================================================================
-- BƯỚC 4: TẠO BẢNG SiteSettings (Cài đặt & nội dung trang web)
-- ================================================================
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.SiteSettings') AND type = 'U')
BEGIN
    CREATE TABLE [dbo].[SiteSettings] (
        [Key]         nvarchar(100)                   NOT NULL,      -- VD: 'topbar_text', 'hero_title'
        [Value]       nvarchar(max)                   NULL,          -- Nội dung (text, URL, JSON, hex color...)
        [Type]        nvarchar(20)                    NOT NULL DEFAULT 'text',  -- 'text' | 'html' | 'image' | 'color' | 'bool' | 'json'
        [Group]       nvarchar(50)                    NOT NULL DEFAULT 'general', -- 'general' | 'homepage' | 'seo' | 'social'
        [Label]       nvarchar(100)                   NULL,          -- Label hiển thị trong admin panel
        [UpdatedAt]   datetime2(7)                    NOT NULL DEFAULT GETDATE(),
        [UpdatedBy]   nvarchar(450)                   NULL,
        CONSTRAINT [PK_SiteSettings] PRIMARY KEY CLUSTERED ([Key] ASC)
    ) ON [PRIMARY];

    CREATE NONCLUSTERED INDEX [IX_SiteSettings_Group]
        ON [dbo].[SiteSettings] ([Group] ASC);

    PRINT N'✓ Tạo bảng SiteSettings thành công';
END
ELSE
    PRINT N'  Bảng SiteSettings đã tồn tại, bỏ qua';
GO

-- ================================================================
-- BƯỚC 5: TẠO BẢNG Vouchers (Mã giảm giá)
-- ================================================================
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.Vouchers') AND type = 'U')
BEGIN
    CREATE TABLE [dbo].[Vouchers] (
        [Id]              int             IDENTITY(1,1)   NOT NULL,
        [Code]            nvarchar(50)                    NOT NULL,   -- VD: 'GLOW10', 'NEWUSER'
        [Description]     nvarchar(200)                   NULL,
        [DiscountType]    nvarchar(20)                    NOT NULL DEFAULT 'percent', -- 'percent' | 'fixed'
        [DiscountValue]   decimal(18,2)                   NOT NULL,   -- 10 (= 10%) hoặc 50000 (= 50k)
        [MinOrderAmount]  decimal(18,2)                   NOT NULL DEFAULT 0,
        [MaxDiscount]     decimal(18,2)                   NULL,       -- Giảm tối đa (nếu DiscountType=percent)
        [UsageLimit]      int                             NULL,       -- NULL = không giới hạn
        [UsedCount]       int                             NOT NULL DEFAULT 0,
        [StartDate]       datetime2(7)                    NULL,
        [ExpiryDate]      datetime2(7)                    NULL,
        [IsActive]        bit                             NOT NULL DEFAULT 1,
        [CreatedAt]       datetime2(7)                    NOT NULL DEFAULT GETDATE(),
        CONSTRAINT [PK_Vouchers] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY];

    CREATE UNIQUE NONCLUSTERED INDEX [UX_Vouchers_Code]
        ON [dbo].[Vouchers] ([Code] ASC);

    PRINT N'✓ Tạo bảng Vouchers thành công';
END
ELSE
    PRINT N'  Bảng Vouchers đã tồn tại, bỏ qua';
GO

-- ================================================================
-- BƯỚC 6: TẠO BẢNG MediaFiles (Thư viện ảnh upload)
-- ================================================================
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.MediaFiles') AND type = 'U')
BEGIN
    CREATE TABLE [dbo].[MediaFiles] (
        [Id]          int             IDENTITY(1,1)   NOT NULL,
        [FileName]    nvarchar(255)                   NOT NULL,
        [OriginalName] nvarchar(255)                  NOT NULL,
        [Url]         nvarchar(500)                   NOT NULL,      -- URL truy cập ảnh
        [MimeType]    nvarchar(100)                   NULL,          -- 'image/jpeg', 'image/png'...
        [FileSize]    bigint                          NULL,          -- bytes
        [Width]       int                             NULL,
        [Height]      int                             NULL,
        [Alt]         nvarchar(200)                   NULL,          -- Alt text cho SEO
        [Folder]      nvarchar(100)                   NOT NULL DEFAULT 'uploads', -- 'banners' | 'products' | 'uploads'
        [UploadedBy]  nvarchar(450)                   NULL,
        [CreatedAt]   datetime2(7)                    NOT NULL DEFAULT GETDATE(),
        CONSTRAINT [PK_MediaFiles] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY];

    CREATE NONCLUSTERED INDEX [IX_MediaFiles_Folder_CreatedAt]
        ON [dbo].[MediaFiles] ([Folder] ASC, [CreatedAt] DESC);

    PRINT N'✓ Tạo bảng MediaFiles thành công';
END
ELSE
    PRINT N'  Bảng MediaFiles đã tồn tại, bỏ qua';
GO

-- ================================================================
-- BƯỚC 7: TẠO BẢNG AuditLogs (Lịch sử thao tác admin)
-- ================================================================
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.AuditLogs') AND type = 'U')
BEGIN
    CREATE TABLE [dbo].[AuditLogs] (
        [Id]          bigint          IDENTITY(1,1)   NOT NULL,      -- bigint vì log nhiều
        [Action]      nvarchar(20)                    NOT NULL,      -- 'CREATE' | 'UPDATE' | 'DELETE' | 'LOGIN'
        [Entity]      nvarchar(50)                    NOT NULL,      -- 'Product' | 'Order' | 'Banner'...
        [EntityId]    nvarchar(100)                   NULL,          -- Id của record bị tác động
        [OldValue]    nvarchar(max)                   NULL,          -- JSON giá trị cũ
        [NewValue]    nvarchar(max)                   NULL,          -- JSON giá trị mới
        [Description] nvarchar(500)                   NULL,          -- Mô tả ngắn: "Đã xóa sản phẩm #123"
        [UserId]      nvarchar(450)                   NULL,
        [UserName]    nvarchar(100)                   NULL,          -- Lưu thêm username để không cần JOIN
        [IpAddress]   nvarchar(50)                    NULL,
        [CreatedAt]   datetime2(7)                    NOT NULL DEFAULT GETDATE(),
        CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY];

    CREATE NONCLUSTERED INDEX [IX_AuditLogs_Entity_EntityId]
        ON [dbo].[AuditLogs] ([Entity] ASC, [EntityId] ASC);

    CREATE NONCLUSTERED INDEX [IX_AuditLogs_UserId_CreatedAt]
        ON [dbo].[AuditLogs] ([UserId] ASC, [CreatedAt] DESC);

    PRINT N'✓ Tạo bảng AuditLogs thành công';
END
ELSE
    PRINT N'  Bảng AuditLogs đã tồn tại, bỏ qua';
GO

-- ================================================================
-- BƯỚC 8: SEED DATA MẶC ĐỊNH
-- ================================================================

-- ── SiteSettings: giá trị mặc định cho trang chủ GlowHub ──
MERGE [dbo].[SiteSettings] AS target
USING (VALUES
    -- Topbar
    ('topbar_text',     N'🌸 MIỄN PHÍ VẬN CHUYỂN cho đơn hàng từ 500.000₫  |  Giao hàng toàn quốc', 'text',  'homepage', N'Thanh thông báo'),
    ('topbar_visible',  '1',                                                                            'bool',  'homepage', N'Hiển thị thanh thông báo'),
    ('topbar_bg_color', '#111111',                                                                      'color', 'homepage', N'Màu nền thanh thông báo'),
    -- Hero section
    ('hero_label',      N'Bộ Sưu Tập Mới',                                    'text',  'homepage', N'Nhãn hero'),
    ('hero_title',      N'Phong Cách Của Bạn',                                'text',  'homepage', N'Tiêu đề hero'),
    ('hero_desc',       N'Khám phá những xu hướng thời trang và làm đẹp mới nhất.', 'text', 'homepage', N'Mô tả hero'),
    ('hero_bg_color',   '#f5f0ea',                                             'color', 'homepage', N'Màu nền hero'),
    -- Sections
    ('new_arrivals_title',  N'Hàng Mới Về',          'text', 'homepage', N'Tiêu đề section hàng mới'),
    ('new_arrivals_sub',    N'Những sản phẩm mới nhất vừa cập nhật', 'text', 'homepage', N'Mô tả section hàng mới'),
    ('best_sellers_title',  N'Bán Chạy Nhất',         'text', 'homepage', N'Tiêu đề section bán chạy'),
    ('best_sellers_sub',    N'Được yêu thích nhất tháng này', 'text', 'homepage', N'Mô tả section bán chạy'),
    -- Promo banner
    ('promo_title',     N'Giảm 25% Cho Đơn Hàng Đầu Tiên', 'html', 'homepage', N'Tiêu đề promo banner'),
    ('promo_desc',      N'Đăng ký thành viên để nhận ưu đãi độc quyền.', 'text', 'homepage', N'Mô tả promo banner'),
    ('promo_image_url', '', 'image', 'homepage', N'Ảnh promo banner'),
    ('promo_bg_from',   '#fce4ec', 'color', 'homepage', N'Màu gradient promo (từ)'),
    ('promo_bg_to',     '#f8bbd0', 'color', 'homepage', N'Màu gradient promo (đến)'),
    -- SEO
    ('seo_title',       N'GlowHub - Thời Trang & Làm Đẹp',                   'text', 'seo', N'Tiêu đề trang'),
    ('seo_description', N'GlowHub - Cửa hàng thời trang và làm đẹp hàng đầu Việt Nam.', 'text', 'seo', N'Meta description'),
    ('seo_keywords',    N'thời trang, mỹ phẩm, làm đẹp, glowhub',            'text', 'seo', N'Keywords'),
    -- Store info
    ('store_name',      N'GlowHub',                    'text', 'general', N'Tên cửa hàng'),
    ('store_phone',     '1800 0000',                   'text', 'general', N'Hotline'),
    ('store_email',     'support@glowhub.vn',          'text', 'general', N'Email hỗ trợ'),
    ('store_address',   N'123 Đường Nguyễn Huệ, Q.1, TP.HCM', 'text', 'general', N'Địa chỉ'),
    ('footer_desc',     N'Cửa hàng thời trang và làm đẹp hàng đầu Việt Nam.', 'text', 'general', N'Mô tả footer'),
    ('copyright_text',  N'© 2025 GlowHub. Bảo lưu mọi quyền.',               'text', 'general', N'Copyright'),
    -- Section visibility
    ('show_new_arrivals',  '1', 'bool', 'homepage', N'Hiển thị section Hàng Mới'),
    ('show_best_sellers',  '1', 'bool', 'homepage', N'Hiển thị section Bán Chạy'),
    ('show_categories',    '1', 'bool', 'homepage', N'Hiển thị section Danh Mục'),
    ('show_promo_banner',  '1', 'bool', 'homepage', N'Hiển thị promo banner')
) AS source([Key],[Value],[Type],[Group],[Label])
ON target.[Key] = source.[Key]
WHEN NOT MATCHED THEN
    INSERT ([Key],[Value],[Type],[Group],[Label])
    VALUES (source.[Key], source.[Value], source.[Type], source.[Group], source.[Label]);
GO

-- ── Banners: 2 slide mặc định ──
IF NOT EXISTS (SELECT 1 FROM [dbo].[Banners])
BEGIN
    INSERT INTO [dbo].[Banners] ([Title],[Subtitle],[ImageUrl],[LinkUrl],[ButtonText],[SortOrder],[IsActive])
    VALUES
    (N'New Collection', N'Spring / Summer 2025', '', 'shop.html', N'Mua Sắm Ngay', 1, 1),
    (N'Summer Sale', N'Up to 50% off selected items', '', 'shop.html?cat=sale', N'Xem Khuyến Mãi', 2, 1);
    PRINT N'✓ Seed 2 banner mặc định';
END
GO

-- ── Vouchers: 3 mã mẫu ──
IF NOT EXISTS (SELECT 1 FROM [dbo].[Vouchers])
BEGIN
    INSERT INTO [dbo].[Vouchers] ([Code],[Description],[DiscountType],[DiscountValue],[MinOrderAmount],[MaxDiscount],[UsageLimit],[IsActive])
    VALUES
    ('GLOWHUB10', N'Giảm 10% cho mọi đơn hàng',     'percent', 10, 0,       100000, NULL, 1),
    ('NEWUSER',   N'Giảm 20% cho khách hàng mới',   'percent', 20, 0,       200000, 1,    1),
    ('SALE50K',   N'Giảm 50.000₫ cho đơn từ 500K',  'fixed',   50000, 500000, NULL, NULL, 1);
    PRINT N'✓ Seed 3 voucher mẫu';
END
GO

-- ── FeaturedProducts: gắn 4 sản phẩm đầu vào new_arrivals và best_sellers ──
IF NOT EXISTS (SELECT 1 FROM [dbo].[FeaturedProducts])
BEGIN
    INSERT INTO [dbo].[FeaturedProducts] ([ProductId],[Section],[SortOrder],[IsActive])
    SELECT TOP 4 [Id], 'new_arrivals', ROW_NUMBER() OVER (ORDER BY [Id] DESC), 1
    FROM [dbo].[Products] WHERE [IsActive] = 1
    ORDER BY [Id] DESC;

    INSERT INTO [dbo].[FeaturedProducts] ([ProductId],[Section],[SortOrder],[IsActive])
    SELECT TOP 4 [Id], 'best_sellers', ROW_NUMBER() OVER (ORDER BY [Id] ASC), 1
    FROM [dbo].[Products] WHERE [IsActive] = 1
    ORDER BY [Id] ASC;

    PRINT N'✓ Seed featured products';
END
GO
-- Đánh dấu migration đã chạy rồi, không cần EF chạy lại
INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES ('20260318073813_InitialDatabase', '8.0.0');
-- ================================================================
-- KIỂM TRA KẾT QUẢ
-- ================================================================
PRINT N''
PRINT N'===================================================='
PRINT N'  GlowHub Migration hoàn thành!'
PRINT N'===================================================='
SELECT t.name AS [Bảng], p.rows AS [Số dòng]
FROM sys.tables t
JOIN sys.partitions p ON t.object_id = p.object_id AND p.index_id IN (0,1)
WHERE t.name NOT IN ('__EFMigrationsHistory')
ORDER BY t.name
GO

USE [BaseCoreDB]
GO

-- ============================================================
-- TẠO BẢNG UserAddresses
-- Lưu địa chỉ giao hàng của từng user
-- ============================================================
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'UserAddresses')
BEGIN
    CREATE TABLE [dbo].[UserAddresses] (
        [Id]           INT             NOT NULL IDENTITY(1,1),
        [UserId]       NVARCHAR(450)   NOT NULL,
        [ReceiverName] NVARCHAR(100)   NOT NULL,
        [Phone]        NVARCHAR(20)    NOT NULL,
        [Province]     NVARCHAR(100)   NOT NULL,
        [ProvinceCode] NVARCHAR(20)    NOT NULL DEFAULT '',
        [District]     NVARCHAR(100)   NOT NULL,
        [DistrictCode] NVARCHAR(20)    NOT NULL DEFAULT '',
        [Ward]         NVARCHAR(100)   NOT NULL DEFAULT '',
        [WardCode]     NVARCHAR(20)    NOT NULL DEFAULT '',
        [Detail]       NVARCHAR(300)   NOT NULL,
        [Latitude]     FLOAT           NULL,
        [Longitude]    FLOAT           NULL,
        [MapAddress]   NVARCHAR(500)   NULL,
        [IsDefault]    BIT             NOT NULL DEFAULT 0,
        [CreatedAt]    DATETIME2       NOT NULL DEFAULT GETUTCDATE(),
        [UpdatedAt]    DATETIME2       NULL,
        CONSTRAINT [PK_UserAddresses] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_UserAddresses_Users_UserId]
            FOREIGN KEY ([UserId]) REFERENCES [dbo].[Users]([Id])
            ON DELETE CASCADE
    )
    PRINT N'✓ Tạo bảng UserAddresses thành công'
END
ELSE
    PRINT N'Bảng UserAddresses đã tồn tại'
GO

-- Index để query nhanh theo UserId
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_UserAddresses_UserId')
BEGIN
    CREATE INDEX [IX_UserAddresses_UserId]
        ON [dbo].[UserAddresses]([UserId])
    PRINT N'✓ Tạo index IX_UserAddresses_UserId'
END
GO

-- Đảm bảo mỗi user chỉ có 1 địa chỉ mặc định
-- (xử lý bằng logic trong controller, không dùng constraint)

PRINT N'=== UserAddresses migration hoàn thành ==='
GO

-- ============================================================
-- GlowHub — script.sql  (FINAL v3 — Pexels verified beauty photos)
-- Fix ngày 12/05/2026
-- Chuyển từ Unsplash (không ổn định) sang Pexels (ổn định, đúng nội dung)
-- ✅ 30 ảnh mỹ phẩm thật — serum, son, nước hoa, dầu gội, kem chống nắng
-- ✅ 30 ảnh hoàn toàn UNIQUE
-- ✅ Ảnh từ Pexels CDN — không cần API key, không hết hạn
-- ============================================================
USE [BaseCoreDB]
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET XACT_ABORT ON
GO

BEGIN TRANSACTION;
BEGIN TRY

-- BƯỚC 0: Schema Check
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Products') AND name = 'DiscountPrice')
    ALTER TABLE [dbo].[Products] ADD [DiscountPrice] decimal(18,2) NULL;
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Products') AND name = 'IsNew')
    ALTER TABLE [dbo].[Products] ADD [IsNew] bit NOT NULL DEFAULT 0;

-- BƯỚC 1: Dọn dữ liệu cũ
PRINT N'Đang dọn dẹp...';
DELETE FROM [dbo].[FeaturedProducts];
DELETE FROM [dbo].[Reviews];
DELETE FROM [dbo].[CartItems];
DELETE FROM [dbo].[OrderDetails];
DELETE FROM [dbo].[Products];
DELETE FROM [dbo].[Categories];
DBCC CHECKIDENT ('[dbo].[Products]',   RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Categories]', RESEED, 0);

-- BƯỚC 2: Seed Categories
INSERT INTO [dbo].[Categories] ([Name],[Description]) VALUES
(N'Chăm sóc da mặt', N'Serum, kem dưỡng, toner, sữa rửa mặt cho mọi loại da'),
(N'Trang điểm',      N'Son môi, kem nền, phấn má, mascara và các sản phẩm makeup'),
(N'Chăm sóc cơ thể', N'Kem dưỡng thể, tẩy tế bào chết, dầu dưỡng da toàn thân'),
(N'Nước hoa',        N'Nước hoa nữ, nam, unisex tinh tế cho mọi dịp'),
(N'Chăm sóc tóc',   N'Dầu gội, dầu xả, serum tóc, mặt nạ ủ tóc'),
(N'Chống nắng',     N'Kem chống nắng vật lý và hóa học SPF 30–50+');
PRINT N'OK 6 danh muc';

-- ============================================================
-- BƯỚC 3: Seed 30 Products
-- Ảnh từ Pexels CDN — verified beauty/cosmetic product photos
-- Format: https://images.pexels.com/photos/{ID}/pexels-photo-{ID}.jpeg?...
-- ============================================================

PRINT N'OK 30 san pham — Pexels verified beauty photos';

-- BƯỚC 4: FeaturedProducts
INSERT INTO [dbo].[FeaturedProducts] ([ProductId],[Section],[SortOrder],[IsActive])
SELECT TOP 4 [Id],'new_arrivals',ROW_NUMBER() OVER (ORDER BY [Id] DESC),1
FROM [dbo].[Products] WHERE [IsActive]=1 AND [IsNew]=1 ORDER BY [Id] DESC;

INSERT INTO [dbo].[FeaturedProducts] ([ProductId],[Section],[SortOrder],[IsActive])
SELECT TOP 4 [Id],'best_sellers',ROW_NUMBER() OVER (ORDER BY [Id] ASC),1
FROM [dbo].[Products] WHERE [IsActive]=1 ORDER BY [Id] ASC;

COMMIT TRANSACTION;
PRINT N'HOAN TAT — 30 san pham, 30 anh my pham thuc su!';
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
    PRINT N'LOI: ' + ERROR_MESSAGE();
    THROW;
END CATCH
GO

-- Kiem tra anh trung (mong muon: 0 dong)
SELECT [ImageUrl], COUNT(*) AS n, STRING_AGG([Name],N' | ') AS sp
FROM [dbo].[Products] WHERE [IsActive]=1
GROUP BY [ImageUrl] HAVING COUNT(*)>1 ORDER BY n DESC;

-- Bao cao
SELECT c.[Name] AS DanhMuc, COUNT(p.[Id]) AS SoSP,
       FORMAT(MIN(p.[Price]),'N0')+N' d' AS GiaMin,
       FORMAT(MAX(p.[Price]),'N0')+N' d' AS GiaMax,
       SUM(CASE WHEN p.[IsNew]=1 THEN 1 ELSE 0 END) AS HangMoi,
       SUM(CASE WHEN p.[DiscountPrice] IS NOT NULL THEN 1 ELSE 0 END) AS GiamGia
FROM [dbo].[Products] p
JOIN [dbo].[Categories] c ON p.[CategoryId]=c.[Id]
GROUP BY c.[Id],c.[Name] ORDER BY c.[Id];
GO

--27/05/2026
-- Nâng seller_test lên role Seller
USE BaseCoreDB
GO

UPDATE [dbo].[Users] 
SET [UserType] = 2 
WHERE [UserName] = 'seller_test';

-- Kiểm tra lại
SELECT Id, UserName, Name, Email, UserType, IsActive
FROM [dbo].[Users]
WHERE [UserName] = 'seller_test';
--02/06/2026
-- ShopFollows table for follow shop feature
USE BaseCoreDB
GO

IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'ShopFollows')
BEGIN
    CREATE TABLE [dbo].[ShopFollows] (
        [Id]        INT            NOT NULL IDENTITY(1,1),
        [UserId]    NVARCHAR(450)  NOT NULL,
        [ShopId]    NVARCHAR(450)  NOT NULL,
        [CreatedAt] DATETIME2      NOT NULL DEFAULT GETUTCDATE(),
        CONSTRAINT [PK_ShopFollows] PRIMARY KEY CLUSTERED ([Id] ASC),
        CONSTRAINT [FK_ShopFollows_Users]  FOREIGN KEY ([UserId]) REFERENCES [dbo].[Users]([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_ShopFollows_Shops]  FOREIGN KEY ([ShopId]) REFERENCES [dbo].[Shops]([Id]) ON DELETE CASCADE
    )
    CREATE UNIQUE INDEX [UX_ShopFollows_UserShop] ON [dbo].[ShopFollows] ([UserId], [ShopId])
END
GO

--02/06/2026
-- Fix: Add missing OAuth columns to Users table
USE BaseCoreDB
GO

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'dbo.Users') AND name = N'OAuthProvider')
    ALTER TABLE [dbo].[Users] ADD [OAuthProvider] NVARCHAR(20) NULL;
GO

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'dbo.Users') AND name = N'OAuthId')
    ALTER TABLE [dbo].[Users] ADD [OAuthId] NVARCHAR(200) NULL;
GO


USE BaseCoreDB
  GO

  -- Tạo lại tài khoản test (password = '123456', dùng MD5 mode)
  -- Admin account
  IF NOT EXISTS (SELECT 1 FROM [dbo].[Users] WHERE [UserName] = 'admin')
  INSERT INTO [dbo].[Users] (Id, Name, UserName, Password, Salt, Contact, Email, Phone, Position, Image, IsActive, UserType, Created, OAuthProvider, OAuthId)
  VALUES (NEWID(), N'Admin', 'admin', 'e10adc3949ba59abbe56e057f20f883e', 0x, '', 'admin@glowhub.vn', '', '', '', 1, 1, GETDATE(), NULL, NULL);

  -- Seller account
  IF NOT EXISTS (SELECT 1 FROM [dbo].[Users] WHERE [UserName] = 'seller_test')
  INSERT INTO [dbo].[Users] (Id, Name, UserName, Password, Salt, Contact, Email, Phone, Position, Image, IsActive, UserType, Created, OAuthProvider, OAuthId)
  VALUES (NEWID(), N'Seller Test', 'seller_test', 'e10adc3949ba59abbe56e057f20f883e', 0x, '', 'seller@glowhub.vn', '', '', '', 1, 2, GETDATE(), NULL, NULL);

  -- Customer account
  IF NOT EXISTS (SELECT 1 FROM [dbo].[Users] WHERE [UserName] = 'customer_test')
  INSERT INTO [dbo].[Users] (Id, Name, UserName, Password, Salt, Contact, Email, Phone, Position, Image, IsActive, UserType, Created, OAuthProvider, OAuthId)
  VALUES (NEWID(), N'Customer Test', 'customer_test', 'e10adc3949ba59abbe56e057f20f883e', 0x, '', 'customer@glowhub.vn', '', '', '', 1, 0, GETDATE(), NULL, NULL);

  -- Kiểm tra
  SELECT UserName, Name, Email, UserType, IsActive FROM [dbo].[Users];
  GO
-- ================================================================
-- FIX: Cập nhật lại Description voucher đúng tiếng Việt (UTF-16)
-- Chạy block này nếu dữ liệu trong DB đang bị vỡ encoding
-- ================================================================
USE [BaseCoreDB]
GO

UPDATE [dbo].[Vouchers] SET [Description] = N'Giảm 10% cho mọi đơn hàng'    WHERE [Code] = 'GLOWHUB10';
UPDATE [dbo].[Vouchers] SET [Description] = N'Giảm 20% cho khách hàng mới'  WHERE [Code] = 'NEWUSER';
UPDATE [dbo].[Vouchers] SET [Description] = N'Giảm 50.000đ cho đơn từ 500K' WHERE [Code] = 'SALE50K';
PRINT N'Fix encoding: voucher descriptions updated';
GO

-- ================================================================
-- FIX: 7 voucher bị vỡ tiếng Việt (phát hiện 2026-06-03)
-- ================================================================
USE [BaseCoreDB]
GO

UPDATE [dbo].[Vouchers] SET [Description] = N'Giảm 50.000đ cho đơn từ 300.000đ'                 WHERE [Code] = 'GLOW50K';
UPDATE [dbo].[Vouchers] SET [Description] = N'Giảm thưởng 50.000đ'                               WHERE [Code] = 'BEAUTY50K';
UPDATE [dbo].[Vouchers] SET [Description] = N'Miễn phí vận chuyển'                               WHERE [Code] = 'FREESHIP';
UPDATE [dbo].[Vouchers] SET [Description] = N'Giảm 20% tối đa 100.000đ'                          WHERE [Code] = 'GLOW20';
UPDATE [dbo].[Vouchers] SET [Description] = N'Giảm 15% cho đơn từ 500.000đ — Luxe Beauty House' WHERE [Code] = 'LUXE15';
UPDATE [dbo].[Vouchers] SET [Description] = N'Khách hàng mới — Giảm 15%'                         WHERE [Code] = 'NEWBIE15';
UPDATE [dbo].[Vouchers] SET [Description] = N'Giảm 10% tối đa 50.000đ'                           WHERE [Code] = 'GLOW10';
PRINT N'Fix encoding: 7 voucher descriptions updated';
GO

-- ================================================================
-- TẠO BẢNG CustomerVouchers (Voucher đã lưu của user)
-- Entity: BaseCore.Entities.CustomerVoucher
-- DbSet : MySqlDbContext.CustomerVouchers
-- ================================================================
USE [BaseCoreDB]
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.CustomerVouchers') AND type = 'U')
BEGIN
    CREATE TABLE [dbo].[CustomerVouchers] (
        [Id]        INT             NOT NULL IDENTITY(1,1),
        [UserId]    NVARCHAR(450)   NOT NULL,
        [VoucherId] INT             NOT NULL,
        [SavedAt]   DATETIME2(7)    NOT NULL DEFAULT GETUTCDATE(),
        [IsUsed]    BIT             NOT NULL DEFAULT 0,
        CONSTRAINT [PK_CustomerVouchers]         PRIMARY KEY CLUSTERED ([Id] ASC),
        CONSTRAINT [FK_CustomerVouchers_Users]   FOREIGN KEY ([UserId])    REFERENCES [dbo].[Users]([Id])    ON DELETE CASCADE,
        CONSTRAINT [FK_CustomerVouchers_Vouchers] FOREIGN KEY ([VoucherId]) REFERENCES [dbo].[Vouchers]([Id]) ON DELETE CASCADE
    );
    CREATE INDEX [IX_CustomerVouchers_UserId]    ON [dbo].[CustomerVouchers] ([UserId]);
    CREATE INDEX [IX_CustomerVouchers_VoucherId] ON [dbo].[CustomerVouchers] ([VoucherId]);
    PRINT N'Tao bang CustomerVouchers thanh cong';
END
ELSE
    PRINT N'  Bang CustomerVouchers da ton tai, bo qua';
GO
